body {
  background-repeat: no-repeat;
  background-size: cover;
}
.section {
  background-color: #59BA37;
  opacity: 80%;
}
.section>h1 {
  text-align: center;
  color: #DC0000;
  padding: 50px
}
.description {
  min-width: 500px;
  height: 450px;
}
.description > h2 {
  color: #DC0000;
  text-align: center;
}
.description > p {
  color: black;
  font-size: 20px;
}
.data {
  display: flex;
}
/* fieldset {
  display: flex;
  flex-direction: column;
  
} */
.form {
  background-color: rgb(143, 132, 132);
  opacity: 70%;
  margin-left: 150px;
  height: 300px;

}
input {
  width: 70px;
  color: #DC0000;
  background-color: #3dd804;
}
#button {
  position: relative;
  left: 200px;
  background-color: #DC0000;
  color: white;
  border-radius: 50%;
}
em{
  background-color: #DC0000;
  color: #59BA37;
  font-style: normal;
  font-weight: bold;
}
#output {
  background-color: white;
  text-align: center;
}
legend {
  background-color: #59BA37;
  text-align: center;
  color: #DC0000;
}